# 1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [1]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [52]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [53]:
driver.get('https://www.naukri.com/')

In [54]:
#finding elements for job search
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Banglore')

In [55]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [56]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru?k=data%20analyst&l=bangalore%2Fbengaluru'

In [57]:
#lets open the webpage through web driver
driver.get(url)

In [58]:
job_titles=[]
company_name=[]

In [59]:
#lets extract all the tags
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="0b5e6059-13da-4043-b377-caabdd69aea6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="cd9cf9a7-785e-4f81-879c-e75ca58d46ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="53383743-f69f-417e-9514-82e5d86c10ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="b2b7eeda-2c91-42d0-9171-2667dd1f36b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="225db641-d2ff-4f85-8a87-3b5226c5f5ae")>]

In [60]:
for i in titles:
    title=i.text
    job_titles.append(title)
job_titles[0:5]

['Assistant Manager II - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting']

In [61]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="9a275daf-e980-438f-a420-99f701e008ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="0d8bd20f-5e5e-4e3d-8807-95b9fc18a3c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="bd712886-e5d6-418f-9a1d-680ec007b134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="179435ef-7fae-40bc-8315-e4ad693870ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="001bf1baf3d7c885fd62864214c40b93", element="cb1f44f0-5379-4ee2-9749-6a7f160f50e7")>]

In [62]:
for i in companies:
    company=i.text
    company_name.append(company)
company_name[0:5]

['Flipkart Internet Private Limited',
 'Super India Tech Mark',
 'tech mahindra ltd',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'INTERTRUST GROUP']

In [63]:
print(len(job_titles),len(company_name))

20 20

In [64]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_name[0:10]

In [65]:
jobs

,title,company
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited
1,Data Analyst,Super India Tech Mark
2,Data Analyst,tech mahindra ltd
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited
4,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP
5,Data Analyst,Xiaomi
6,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.
7,Senior Data Analyst,Cerner
8,Data Analyst / Business Analyst,LatentView Analytics Private Limited
9,"Data Analyst (SQL, Excel, R/Python, Dashboards...",Flipkart Internet Private Limited

# 2. Python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description.

In [66]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [67]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [68]:
driver.get('https://www.naukri.com/')

In [69]:
#finding elements for job search
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Banglore')

In [70]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [71]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru?k=data%20analyst&l=bangalore%2Fbengaluru'

In [72]:
#lets open the webpage through web driver
driver.get(url)

In [73]:
job_titles=[]
company_name=[]
job_location=[]
job_description=[]

In [74]:
#lets extract all the tags
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="1820800d-db14-4579-b268-e5a1a5742190")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="88faca07-b9b6-48e1-b11a-204f623d552d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="1aec3d07-e32f-40e3-b84a-8d4ea2f9a2cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="f9662dff-d60c-49af-8f06-7a82474a1955")>]

In [75]:
for i in titles:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Assistant Manager II - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [76]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="2da9b82b-c55d-4b2e-8979-91a584ddeced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="1f80487d-c67d-4d2e-a162-65f0cb8c64cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="96fff3ff-34d4-40e4-91c4-15a920cf6407")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="081a3cb1-f9ae-4a93-92a4-43a6d71cb34d")>]

In [77]:
for i in companies:
    company=i.text
    company_name.append(company)
company_name[0:4]

['Flipkart Internet Private Limited',
 'Super India Tech Mark',
 'tech mahindra ltd',
 'GlaxoSmithKline Pharmaceuticals Limited']

In [80]:
description=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
description[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="e3d4ff88-2d1a-4ddd-baa6-3f0b0216dba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="09540be1-c8d9-4ecb-b828-4c5b475e783f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="9f98f521-ef59-44e0-ae62-fb9e4fd10419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43353565aa3f8522d660015b8b644c7c", element="ace9b451-6dd1-4242-b2fb-2535bbd9889b")>]

In [82]:
for i in description:
    desc=i.text
    job_description.append(desc)
job_description[0:4]

['Data Analyst must demonstrate a disciplined approach to decision-making that is risk-ba...',
 'Building and iterating reports (with eventual design collaboration) based around a larg...',
 'List of most critical skills that are required to be successful in the role',
 'Proven experience in successfully working in a team setting and ability to reconcile co...']

In [83]:
print(len(job_titles),len(company_name),len(job_description))

20 20 20

In [84]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_name[0:10]
jobs['description']=job_description[0:10]

In [85]:
jobs

,title,company,description
0,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,Data Analyst must demonstrate a disciplined ap...
1,Data Analyst,Super India Tech Mark,Building and iterating reports (with eventual ...
2,Data Analyst,tech mahindra ltd,List of most critical skills that are required...
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Proven experience in successfully working in a...
4,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,Works efficiently across distributed teams and...
5,Data Analyst,Xiaomi,Should have knowledge of managing data over Ex...
6,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"KeywordData Analysis , BI , SQLJob Description..."
7,Senior Data Analyst,Cerner,"Bachelors or Masters degree in Mathematics, St..."
8,Data Analyst / Business Analyst,LatentView Analytics Private Limited,"Strong problem solving, business analysis and ..."
9,"Data Analyst (SQL, Excel, R/Python, Dashboards...",Flipkart Internet Private Limited,Flipkart is looking for Data Analyst [SQL/ Adv...

# 3. Scrape the job-title, job-location, company_name, experience_required.

In [1]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#finding elements for job search
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
#specifying the url of the webpage to be scraped
url='https://www.naukri.com/data-scientist-jobs?k=data%20scientist'

In [7]:
#lets open the webpage through web driver
driver.get(url)

In [23]:
job_titles=[]
company_name=[]
job_location=[]
experience_required=[]

In [24]:
#lets extract all the tags
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="25f1b4f2-fb9f-47ab-865f-ab28bff80c19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="3bb6412f-87e2-4b07-869f-07a6acf8555d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="d787854c-186f-412e-81e6-6d9b4b4b7afe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="4598dc5d-b67d-495e-982f-fff7569e3ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="6a757e5f-81fc-48c9-88d7-1093818b9dac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="120af666-dab3-4e0d-a29f-cc48796ab5aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="eeaa36e7-3745-4e40-ab98-1578b7e09f0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="4242a681-669f-4250-b9af-16491402209c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="f8f270b4-9faf-420c-8835-fdca498a9d4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="064eab73-3463-441b-9071-8bf7755a60f2")>]

In [25]:
for i in titles:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Developer - Data Science',
 'Senior Data Scientist',
 'Data Scientist - Machine Learning',
 'Senior Data Scientist - Machine Learning/Hadoop',
 'Sr. Data Analyst / Data Scientist',
 'Data Scientist - Image Processing/Machine Learning',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Data Scientist/ Analyst',
 'Principal Data Scientist',
 'Data Scientist']

In [26]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="5d674f3b-645f-470d-ab5a-89f6e0b94524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="e847009e-c80e-4b3a-8f88-6269d538c640")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="43b2be22-ae4e-4513-838c-bf270f629182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="b5bcce51-6a65-44ce-881e-446cc18b4d00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="f7ec1342-e7a7-4852-ad67-57573be1a875")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="a7ab6d02-86c5-4ec0-b6b9-82ace0b5f9d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="8f2c7658-8063-4d43-bda0-cc05c190e808")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="f06bbcd2-33eb-4dc4-bef7-5e3b30995515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="b7a38ac8-a972-4c9f-a6b0-afa7138db45b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="d60b3e68-a298-4839-8399-bdcd6f3129ef")>]

In [27]:
for i in companies:
    company=i.text
    company_name.append(company)
company_name[0:10]

['ICL Systems India Private Limited',
 'Walmart Global Tech India',
 'AugmatrixGo',
 'Decision Point',
 'Lending Tree Research Services LLP',
 'CarbyneTech India',
 'Change leaders',
 'Becton Dickinson India Pvt. Ltd',
 'Walmart Global Tech India',
 'CronJ IT Technologies Private Limited']

In [28]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="03450d18-be62-4b01-9e0d-c59eba0843bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="b4cc2aa5-eae6-4e8b-b2c7-8664e4b153f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="dc65a693-6f98-44a8-8857-83beeebfd7d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="1807c5e5-194d-48c1-8abe-aea1a132ea82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="605a41cf-1234-499c-9dd5-72ad3fc04941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="8a0a29af-7729-4228-b926-52ee535d30a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="4c429fd5-55da-4c21-8536-82a5cb25609d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="d7e4dbb6-023a-44a1-b0f3-5c25d79e36db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="3bae441a-d848-42e2-8a59-d71269fe197f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="34850dac-3801-47b4-8572-4f23cca7309a")>]

In [29]:
for i in location:
    locations=i.text
    job_location.append(locations)
job_location[0:10]

['Delhi / NCR',
 'Other',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Ahmedabad(Makarba)',
 'Hyderabad/Secunderabad',
 'Mumbai, Ghaziabad',
 'Bangalore/Bengaluru',
 'Other',
 'Bangalore/Bengaluru']

In [30]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="69f5177d-9ff3-4376-92e0-17c30187aead")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="9127d2b9-69df-4fb0-821c-080a807a14a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="fa48b5a3-dcad-4efd-b934-4218bc5e2e85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="0052954f-59ae-413f-bb8b-7335561fe85c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="bcd9478a-1aec-4d5f-ad3f-4ff9d2df5f3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="1bc7812f-587d-441c-a3d9-952ca5beb470")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="20b25692-9709-4626-a758-5f12f3a983fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="ac56c1c8-a87c-4b65-8408-e31ae9db3268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="2996ed75-670d-4f48-8752-ac2baadd7915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3333f7ec406fc04be8f7f7eee284d2fa", element="096854f0-d746-4f69-ab33-1b3947d63d4c")>]

In [31]:
for i in experience:
    exp=i.text
    experience_required.append(exp)
experience_required[0:10]

['3-5 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-1 Yrs']

In [32]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_name[0:10]
jobs['locations']=job_location[0:10]
jobs['exp']=experience_required[0:10]

In [33]:
jobs

,title,company,locations,exp
0,Developer - Data Science,ICL Systems India Private Limited,Delhi / NCR,3-5 Yrs
1,Senior Data Scientist,Walmart Global Tech India,Other,0-5 Yrs
2,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs
3,Senior Data Scientist - Machine Learning/Hadoop,Decision Point,Gurgaon/Gurugram,2-7 Yrs
4,Sr. Data Analyst / Data Scientist,Lending Tree Research Services LLP,Ahmedabad(Makarba),3-7 Yrs
5,Data Scientist - Image Processing/Machine Lear...,CarbyneTech India,Hyderabad/Secunderabad,6-11 Yrs
6,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
7,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,Bangalore/Bengaluru,5-10 Yrs
8,Principal Data Scientist,Walmart Global Tech India,Other,0-5 Yrs
9,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,0-1 Yrs

# 4. Python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [2]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
#lets first connect to the web driver
driver1=webdriver.Chrome(r"C://chromedriver.exe")

In [4]:
driver1.get('https://www.glassdoor.co.in/index.htm')

In [5]:
url='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?srs=RECENT_SEARCHES'

In [6]:
#lets open the webpage through web driver
driver1.get(url)

In [21]:
job_posted=[]
ratings=[]

In [22]:
posted=driver1.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
posted[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="98cb77e8-6dcb-49dd-ac6a-d61a02c663fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="e5548d5e-613d-4946-8573-fa21f6e74418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="e852b4dd-0ee4-440f-9f2b-040b3347d614")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="14ec7204-be7e-4f4b-8458-519fc2e5ee24")>]

In [23]:
for i in posted:
    jobpost=i.text
    job_posted.append(jobpost)
job_posted[0:4]

['3d', '8d', '2d', '24h']

In [24]:
rat=driver1.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
rat[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="c82545fa-7191-4ef2-8610-506f712dfd58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="17276304-41b0-42fd-b039-e6a23c7e2346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="50b98699-94f5-47de-820e-c3f6de2a6ba4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a2088d367550610d444e43bc8bd1227f", element="a4a1d91f-06fc-478c-b618-f37b61f799d9")>]

In [25]:
for i in rat:
    rating=i.text
    ratings.append(rating)
ratings[0:4]

['4.1', '4.3', '4.4', '4.2']

In [30]:
jobs=pd.DataFrame({})
jobs['jobpost']=job_posted[0:10]
jobs['rating']=ratings[0:10]

In [31]:
jobs

  jobpost rating
0      3d    4.1
1      8d    4.3
2      2d    4.4
3     24h    4.2
4      3d    3.8
5     22d    5.0
6      1d    4.2
7     14d    4.4
8      1d    5.0
9      6d    3.8

# 5. Python program to scrape the salary data for Data Scientist designation in Noida location.

In [2]:
#lets first connect to the web driver
drivers=webdriver.Chrome(r"C://chromedriver.exe")

drivers.get('https://www.glassdoor.co.in/Salaries/index.htm')

url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

#lets open the webpage through web driver
drivers.get(url)

In [3]:
company_name=[]
no_of_salary=[]
avg_salary=[]

In [4]:
#lets extract all the tags
company=drivers.find_elements_by_xpath("//p[@class='m-0']")
company[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="6fe2f786-f48e-487a-a64b-0fb51fb96ef1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="9f7a2317-ffe8-4670-bd69-90ff095c080d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="c609b911-1c72-4de5-93f0-471eccf57296")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="9bda62e5-89f5-4c99-bda7-8be42fa32275")>]

In [5]:
for i in company:
    companies=i.text
    company_name.append(companies)
company_name[0:4]

['Data Scientist',
 'See 108 salaries from all locations',
 'Data Scientist',
 'See 53 salaries from all locations']

In [6]:
no_sal=drivers.find_elements_by_xpath("//div[@class='d-flex']")
no_sal[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="b4ce5d6b-4efb-46ad-a491-21d24b1a4f72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="9e33651c-8ad6-4d95-887d-395161602aca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="7cdf5e4f-21ca-4090-bd6b-a11adb0b60f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="5a3ab7d8-5cfa-4f3e-9c12-b31868496b65")>]

In [7]:
for i in no_sal:
    salaries=i.text
    no_of_salary.append(salaries)
no_of_salary[0:4]

['Data Scientist\nTata Consultancy Services\n14 salaries\nSee 108 salaries from all locations',
 'Data Scientist\nAccenture\n14 salaries\nSee 53 salaries from all locations',
 'Data Scientist\nDelhivery\n14 salaries\nSee 17 salaries from all locations',
 'Data Scientist\nIBM\n13 salaries\nSee 100 salaries from all locations']

In [8]:
avg_sal=drivers.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_sal[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="5364e40d-3078-4af1-871a-417ddac42ffa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="156f133d-9e68-4aad-bad5-4dd55d53d742")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="837e05ec-67da-4cd6-a7c7-c05bb43484c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fe3e05c8d2624b6b21258e8b83f579f3", element="492bce97-9a23-47aa-a6b4-6adbd218274d")>]

In [9]:
for i in avg_sal:
    avg_salaries=i.text
    avg_salary.append(avg_salaries)
avg_salary[0:4]

['₹ 6,01,000\n/yr', '₹ 11,51,207\n/yr', '₹ 12,34,207\n/yr', '₹ 7,63,825\n/yr']

In [10]:
job=pd.DataFrame({})
job['companies']=company_name[0:10]
job['no_of_sal']=no_of_salary[0:10]
job['salaries']=avg_salary[0:10]

In [11]:
job

,companies,no_of_sal,salaries
0,Data Scientist,Data Scientist\nTata Consultancy Services\n14 ...,"₹ 6,01,000\n/yr"
1,See 108 salaries from all locations,Data Scientist\nAccenture\n14 salaries\nSee 53...,"₹ 11,51,207\n/yr"
2,Data Scientist,Data Scientist\nDelhivery\n14 salaries\nSee 17...,"₹ 12,34,207\n/yr"
3,See 53 salaries from all locations,Data Scientist\nIBM\n13 salaries\nSee 100 sala...,"₹ 7,63,825\n/yr"
4,Data Scientist,Data Scientist\nEricsson-Worldwide\n12 salarie...,"₹ 7,32,209\n/yr"
5,See 17 salaries from all locations,Data Scientist\nUnitedHealth Group\n10 salarie...,"₹ 13,88,910\n/yr"
6,Data Scientist,Data Scientist\nValiance Solutions\n9 salaries...,"₹ 8,18,515\n/yr"
7,See 100 salaries from all locations,Data Scientist\nInnovaccer\n8 salaries\nSee 10...,"₹ 12,01,403\n/yr"
8,Data Scientist,Data Scientist\nZS Associates\n7 salaries\nSee...,"₹ 10,00,000\n/yr"
9,See 26 salaries from all locations,Data Scientist\nEXL Service\n7 salaries\nSee 9...,"₹ 11,90,000\n/yr"

# 6. Scrape data of first 100 sunglasses listings on flipkart.com.

In [134]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [154]:
#lets first connect to the web driver
driver2=webdriver.Chrome(r"C://chromedriver.exe")

In [155]:
driver2.get('https://www.flipkart.com/')

In [156]:
#specifying the url of the webpage to be scraped
url='https://www.flipkart.com/search?q=sunglasses&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_3_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_3_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses&requestId=ae805ff7-baf0-4572-a2a4-3fcc5afa9810&as-searchtext=sun'
url1='https://www.flipkart.com/search?q=sunglasses&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_3_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_3_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses&requestId=ae805ff7-baf0-4572-a2a4-3fcc5afa9810&as-searchtext=sun'
url2='https://www.flipkart.com/search?q=sunglasses&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_3_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_3_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses&requestId=ae805ff7-baf0-4572-a2a4-3fcc5afa9810&as-searchtext=sun&page=3'

In [157]:
#lets open the webpage through web driver
driver2.get(url+url1+url2)

In [158]:
brand=[]
price=[]
discount=[]

In [159]:
#lets extract all the tags
brands=driver2.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands[0:4]
brands1=driver2.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands1[0:4]
brands2=driver2.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="474e0b4c-d8df-40f8-9e20-7dddad97e403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="30cd044d-b13e-45cf-98f6-57bd85c2c3e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="e47c7c8b-fb61-42c9-8820-8700c3b55a25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="4180b7cf-7bbd-457b-ad01-947bcbcd4499")>]

In [160]:
for i in brands:
    brnd=i.text
    brand.append(brnd)
brand[0:4] 

for i in brands1:
    brnd=i.text
    brand.append(brnd)
brand[0:4] 

for i in brands2:
    brnd=i.text
    brand.append(brnd)
brand[0:4]

['SRPM', 'ROYAL SON', 'Silver Kartz', 'PIRASO']

In [161]:
discounts=driver2.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discounts[0:4]
discounts1=driver2.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discounts1[0:4]
discounts2=driver2.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discounts2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="ac272708-be18-4f23-9381-7f33acda46cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="87dc4443-4921-4845-b5f2-bbf9835cb0f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="284dfc23-3c34-4c7d-bd0e-3d785b06f694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="09084e86-e341-4259-83b3-16d9bf498b3e")>]

In [162]:
for i in discounts:
    disc=i.text
    discount.append(disc)
discount[0:4]

for i in discounts1:
    disc=i.text
    discount.append(disc)
discount[0:4]

for i in discounts2:
    disc=i.text
    discount.append(disc)
discount[0:4]

['62% off', '78% off', '78% off', '85% off']

In [163]:
prices=driver2.find_elements_by_xpath("//div[@class='_30jeq3']")
prices[0:4]
prices1=driver2.find_elements_by_xpath("//div[@class='_30jeq3']")
prices1[0:4]
prices2=driver2.find_elements_by_xpath("//div[@class='_30jeq3']")
prices2[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="98b5ccce-0caf-48b1-a7a6-6a871f13b320")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="85f958da-5005-439b-ad01-f90a55b47217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="ab1dcc21-b58b-49cb-948e-3101d150bfe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc44d6b9732eff7826248c9fc744cead", element="3f77f0a2-b4d5-4c3a-9061-ac5ea6d082ce")>]

In [164]:
for i in prices:
    cost=i.text
    price.append(cost)
price[0:4]

for i in prices1:
    cost=i.text
    price.append(cost)
price[0:4]

for i in prices2:
    cost=i.text
    price.append(cost)
price[0:4]

['₹189', '₹217', '₹255', '₹225']

In [165]:
flip=pd.DataFrame({})
flip['brnd']=brand[0:100]
flip['disc']=discount[0:100]
flip['cost']=price[0:100]

In [166]:
flip

              brnd     disc  cost
0             SRPM  62% off  ₹189
1        ROYAL SON  78% off  ₹217
2     Silver Kartz  78% off  ₹255
3           PIRASO  85% off  ₹225
4        ROYAL SON  73% off  ₹399
..             ...      ...   ...
95         DEIXELS  82% off  ₹211
96          GANSTA  85% off  ₹289
97  ROZZETTA CRAFT  77% off  ₹499
98        Fastrack  16% off  ₹748
99          PIRASO  88% off  ₹189

[100 rows x 3 columns]

# 7. Scrape data from flipkart.com for iphone11 phone.

In [52]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [53]:
#lets first connect to the web driver
drivers1=webdriver.Chrome(r"C://chromedriver.exe")

drivers1.get('https://www.flipkart.com/')

url='https://www.flipkart.com/search?q=mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_2_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_2_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=mobiles&requestId=61ae9de9-ca42-4c0d-b997-ca83587242b9&as-searchtext=mo'
url1='https://www.flipkart.com/search?q=mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_2_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_2_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=mobiles&requestId=61ae9de9-ca42-4c0d-b997-ca83587242b9&as-searchtext=mo&page=2'
url2='https://www.flipkart.com/search?q=mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_2_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_2_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=mobiles&requestId=61ae9de9-ca42-4c0d-b997-ca83587242b9&as-searchtext=mo&page=3'
url3='https://www.flipkart.com/search?q=mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_2_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_2_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=mobiles&requestId=61ae9de9-ca42-4c0d-b997-ca83587242b9&as-searchtext=mo&page=4'
url4='https://www.flipkart.com/search?q=mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_2_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_2_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=mobiles&requestId=61ae9de9-ca42-4c0d-b997-ca83587242b9&as-searchtext=mo&page=5'


#lets open the webpage through web driver
drivers1.get(url+url1+url2+url3+url4)

In [54]:
rating=[]
price=[]
mobile=[]

In [55]:
rat=drivers1.find_elements_by_xpath("//span[@class='_2_R_DZ']")
rat[0:4]
rat1=drivers1.find_elements_by_xpath("//span[@class='_2_R_DZ']")
rat1[0:4]
rat2=drivers1.find_elements_by_xpath("//span[@class='_2_R_DZ']")
rat2[0:4]
rat3=drivers1.find_elements_by_xpath("//span[@class='_2_R_DZ']")
rat3[0:4]
rat4=drivers1.find_elements_by_xpath("//span[@class='_2_R_DZ']")
rat4[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="7cfa260a-0076-48b2-bb6a-1ec9780d7b9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="2e97b7a5-3b98-4856-9517-19fc7547bde7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="05331044-4737-43c1-b426-93d7a8b5d1f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="befdbe63-4242-4ff2-9840-d2fcde4459ca")>]

In [56]:
for i in rat:
    ratings=i.text
    rating.append(ratings)
rating[0:4] 
for i in rat1:
    ratings=i.text
    rating.append(ratings)
rating[0:4] 
for i in rat2:
    ratings=i.text
    rating.append(ratings)
rating[0:4] 
for i in rat3:
    ratings=i.text
    rating.append(ratings)
rating[0:4] 
for i in rat4:
    ratings=i.text
    rating.append(ratings)
rating[0:4]

['8,919 Ratings & 674 Reviews',
 '69,997 Ratings & 6,946 Reviews',
 '2,25,480 Ratings & 22,236 Reviews',
 '2,53,842 Ratings & 18,686 Reviews']

In [57]:
cost=drivers1.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
cost[0:4]
cost1=drivers1.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
cost1[0:4]
cost2=drivers1.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
cost2[0:4]
cost3=drivers1.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
cost3[0:4]
cost4=drivers1.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
cost4[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="acfb433c-1d6a-4815-9768-24ed6f64b143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="b8969208-5e24-4fb8-823d-82e6c203bddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="2cc0b5da-c8c5-460d-a32b-9463be488e83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="6796a2ef-1fe7-45c4-b54f-bb8184a541da")>]

In [58]:
for i in cost:
    costs=i.text
    price.append(costs)
price[0:4]
for i in cost1:
    costs=i.text
    price.append(costs)
price[0:4]
for i in cost2:
    costs=i.text
    price.append(costs)
price[0:4]
for i in cost3:
    costs=i.text
    price.append(costs)
price[0:4]
for i in cost4:
    costs=i.text
    price.append(costs)
price[0:4]

['₹10,499', '₹15,999', '₹13,999', '₹11,999']

In [59]:
mob=drivers1.find_elements_by_xpath("//div[@class='_4rR01T']")
mob[0:4]
mob1=drivers1.find_elements_by_xpath("//div[@class='_4rR01T']")
mob1[0:4]
mob2=drivers1.find_elements_by_xpath("//div[@class='_4rR01T']")
mob2[0:4]
mob3=drivers1.find_elements_by_xpath("//div[@class='_4rR01T']")
mob3[0:4]
mob4=drivers1.find_elements_by_xpath("//div[@class='_4rR01T']")
mob4[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="1c0d9429-8f3e-4165-8678-d5cbb016e53a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="3c127ef4-bc62-4f84-a7e5-7b4f285d3488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="beaf5321-1cdb-4b5b-a2de-02284187f5dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="43f42557ba18a4baf42e158e715da0e5", element="846bb804-c02b-44bd-8ae1-402edc3ba3d6")>]

In [60]:
for i in mob:
    ph=i.text
    mobile.append(ph)
mobile[0:4]
for i in mob1:
    ph=i.text
    mobile.append(ph)
mobile[0:4]
for i in mob2:
    ph=i.text
    mobile.append(ph)
mobile[0:4]
for i in mob3:
    ph=i.text
    mobile.append(ph)
mobile[0:4]
for i in mob4:
    ph=i.text
    mobile.append(ph)
mobile[0:4]

['REDMI 9 Power (Blazing Blue, 64 GB)',
 'realme 7 (Mist Blue, 128 GB)',
 'realme 7 (Mist Blue, 64 GB)',
 'realme 7i (Fusion Blue, 64 GB)']

In [63]:
phone=pd.DataFrame({})
phone['mobiles']=mobile[0:100]
phone['review&rating']=rating[0:100]
phone['prices']=price[0:100]

In [64]:
phone

,mobiles,review&rating,prices
0,"REDMI 9 Power (Blazing Blue, 64 GB)","8,919 Ratings & 674 Reviews","₹10,499"
1,"realme 7 (Mist Blue, 128 GB)","69,997 Ratings & 6,946 Reviews","₹15,999"
2,"realme 7 (Mist Blue, 64 GB)","2,25,480 Ratings & 22,236 Reviews","₹13,999"
3,"realme 7i (Fusion Blue, 64 GB)","2,53,842 Ratings & 18,686 Reviews","₹11,999"
4,"POCO C3 (Lime Green, 32 GB)","2,01,294 Ratings & 14,119 Reviews","₹7,499"
...,...,...,...
95,"Infinix Hot 10 (Moonlight Jade, 64 GB)","2,53,842 Ratings & 18,686 Reviews","₹9,499"
96,"REDMI 9 Power (Blazing Blue, 64 GB)","2,01,294 Ratings & 14,119 Reviews","₹10,499"
97,"realme 7 (Mist Blue, 128 GB)",17 Ratings & 1 Reviews,"₹15,999"
98,"realme 7 (Mist Blue, 64 GB)","2,53,842 Ratings & 18,686 Reviews","₹13,999"
99,"realme 7i (Fusion Blue, 64 GB)","2,675 Ratings & 293 Reviews","₹11,999"

# 8. Scrape data for first 100 sneakers from flipkart.com

In [42]:
#lets first connect to the web driver
drivers3=webdriver.Chrome(r"C://chromedriver.exe")

drivers3.get('https://www.flipkart.com/')

url='https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=cb04d5f6-9a57-4089-8084-e75dc54a4cdc&as-searchtext=sne'
url1='https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=cb04d5f6-9a57-4089-8084-e75dc54a4cdc&as-searchtext=sne&page=2'
#lets open the webpage through web driver
drivers3.get(url+url1)

In [43]:
brand=[]
description=[]
price=[]
discount=[]

In [54]:
brnd=drivers3.find_elements_by_xpath("//div[@class='_2WkVRV']")
brnd[0:4]
brnd1=drivers3.find_elements_by_xpath("//div[@class='_2WkVRV']")
brnd1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="7ef5d6ca-e7ba-486b-b02b-435ed41e338f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="179eef35-eb65-4e66-8928-d3f80a10d846")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="f76f651e-e833-44e3-918b-851e59246c5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="b38850a3-a1cf-40f9-8032-362789f357ac")>]

In [57]:
for i in brnd:
    brands=i.text
    brand.append(brands)
brand[0:4] 

for i in brnd1:
    brands=i.text
    brand.append(brands)
brand[0:4]

['Robbie jones', 'Axter', 'Absolute comfort', 'pollachief']

In [60]:
desc=drivers3.find_elements_by_xpath("//div[@class='_2B099V']")
desc[0:4]
desc1=drivers3.find_elements_by_xpath("//div[@class='_2B099V']")
desc1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="7de1585b-2ca5-40a8-8c64-3eafde1f93a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="0a1c6236-0c09-403d-b98f-f460ddfdeb35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="5ee1bba1-4ca8-49b0-891f-a69e63f35f4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="9a0ba96d-2fe3-4b34-8708-0f9f21eac412")>]

In [61]:
for i in desc:
    descriptions=i.text
    description.append(descriptions)
description[0:4] 

for i in desc1:
    descriptions=i.text
    description.append(descriptions)
description[0:4]

['Robbie jones\nCasual Sneakers Shoes For Men Sneakers For Men\n₹499₹99950% off',
 'Axter\nCombo Pack of 2 Latest Collection Stylish Casual Loafer...\n₹284₹99871% off',
 'Absolute comfort\nEVAW2 Sneakers For Men\n₹199₹49960% off',
 'pollachief\nCasual Sneaker Sneakers For Men\n₹448₹99955% off']

In [62]:
cost=drivers3.find_elements_by_xpath("//div[@class='_30jeq3']")
cost[0:4]
cost1=drivers3.find_elements_by_xpath("//div[@class='_30jeq3']")
cost1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="13f9f27a-9485-416e-ac33-eb548b1f0684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="ddf8f6eb-220c-47cf-8c7b-3a528c3343e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="01ddf3b4-90fd-4a99-be3e-de9f40cf9dfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="545a967c-1d12-4cb8-bec1-9752548aaf9f")>]

In [63]:
for i in cost:
    pric=i.text
    price.append(pric)
price[0:4] 

for i in cost1:
    pric=i.text
    price.append(pric)
price[0:4]

['₹499', '₹284', '₹199', '₹448']

In [64]:
disc=drivers3.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc[0:4]
disc1=drivers3.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc1[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="62e23cf9-f419-4259-8db0-ff5868eed8c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="fb738c16-e531-454a-b6bb-8ec8c98a4447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="23062a78-cd29-42d6-9d11-d1b33d40c330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79cce0d6257ef8abf5d169c0a35a806d", element="9125024d-2d46-4d4a-9156-502d5c834b00")>]

In [65]:
for i in disc:
    dis=i.text
    discount.append(dis)
discount[0:4] 

for i in disc1:
    dis=i.text
    discount.append(dis)
discount[0:4]

['50% off', '71% off', '60% off', '55% off']

In [66]:
shoes=pd.DataFrame({})
shoes['brands']=brand[0:100]
shoes['descriptions']=description[0:100]
shoes['cost']=price[0:100]
shoes['discounts']=discount[0:100]

In [67]:
shoes

,brands,descriptions,cost,discounts
0,Robbie jones,Robbie jones\nCasual Sneakers Shoes For Men Sn...,₹499,50% off
1,Axter,Axter\nCombo Pack of 2 Latest Collection Styli...,₹284,71% off
2,Absolute comfort,Absolute comfort\nEVAW2 Sneakers For Men\n₹199...,₹199,60% off
3,pollachief,pollachief\nCasual Sneaker Sneakers For Men\n₹...,₹448,55% off
4,Chevit,Chevit\nSmart Casuals Canvas Shoes Combo pack ...,₹339,66% off
...,...,...,...,...
95,Englewood,Englewood\nWhite Shoes For Men | Casual White ...,₹496,66% off
96,restinfoot,"restinfoot\nCasual shoes,Sneakers for men's,sh...",₹399,60% off
97,VORII,VORII\nLatest Stylish Casual sneakers for men ...,₹380,61% off
98,Jabra,Jabra\nSneakers For Men\n₹489₹99951% off,₹489,51% off
99,Bonexy,Bonexy\nSneakers For Men\n₹426₹99957% off,₹426,57% off

# 9. Scrape First 100 shoes data from myntra.com

In [74]:
#lets first connect to the web driver
drivers2=webdriver.Chrome(r"C://chromedriver.exe")

drivers2.get('https://www.myntra.com/')

url='https://www.myntra.com/shoes?src=404'

#lets open the webpage through web driver
drivers2.get(url)

# 10. Scrape 10 laptops data from amazon.in

In [78]:
#lets first connect to the web driver
drivers5=webdriver.Chrome(r"C://chromedriver.exe")

drivers5.get('https://www.amazon.in/')

url='https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1617605575&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_9'

#lets open the webpage through web driver
drivers5.get(url)

In [80]:
brnd=drivers5.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
brnd[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="8792c35c-b5be-4cfc-8f09-e68ad23d700b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="fa11d281-50d3-4dfe-aa19-1d3ebbe74caf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="e3fde520-e2e8-4515-b821-8b6c3375774b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="d653b8b0-2df2-4268-a9c2-d081f6dd692e")>]

In [81]:
for i in brnd:
    titles=i.text
    title.append(titles)
title[0:4]

['(Renewed) HP ZBook 15 G3 Mobile Workstation - 15.6" - Core i7 (6700HQ) - 64 GB RAM - 4TB SSD : BLUETOOTH : 2GB DEDICATED GRAPHIC : NUMERIC KEYBOARD',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light']

In [82]:
rati=drivers5.find_elements_by_xpath("//span[@class='a-size-base']")
rati[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="08f27f1b-ff24-4218-97e9-1328523f932e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="f606449a-1b70-4a24-afc6-b77037fa1f8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="6d5e06c9-4f8e-4047-b0e8-7843f994ad6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="ef384cac-fa9c-4b1d-8cc3-d033741c6f05")>]

In [83]:
for i in rati:
    ratings=i.text
    rating.append(ratings)
rating[0:4]

['3', '602', '15', '55']

In [84]:
cost=drivers5.find_elements_by_xpath("//span[@class='a-price-whole']")
cost[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="406170c3-3bbf-4bab-baf3-b3125dae721e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="6d17ee57-3034-413a-beb1-3db80da0810f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="0dbae82e-d8cd-49ed-9e5f-3f84c78e6a14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7d5bc88cac03bded88121e2519a4bef", element="bae83c25-5a85-473d-8b81-6a130c0bddd1")>]

In [85]:
for i in cost:
    prices=i.text
    price.append(prices)
price[0:4]

['1,39,490', '76,500', '54,999', '1,98,590']

In [86]:
laptop=pd.DataFrame({})
laptop['titles']=title[0:10]
laptop['ratings']=rating[0:10]
laptop['prices']=price[0:10]

In [87]:
laptop

                                              titles ratings    prices
0  (Renewed) HP ZBook 15 G3 Mobile Workstation - ...       3  1,39,490
1  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...     602    76,500
2  Mi Notebook Horizon Edition 14 Intel Core i5-1...      15    54,999
3  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...      55  1,98,590
4  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...      93  1,35,490
5  (Renewed) DELL Latitude E6540 15.6-inch Laptop...      10    38,999
6  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...      29  1,20,800
7  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...     103    84,500
8  DELL Inspiron 5593 15.6-inch Laptop (10th Gen ...      39    78,990
9  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...      18    45,990