# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [1]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/Main_Page')

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

#lets open the webpage through web driver
driver.get(url)

In [11]:
Rank=[]
Name=[]

In [12]:
r=driver.find_elements_by_xpath("//a[@class='mw-redirect']")
for i in r:
    title2=i.text
    Rank.append(title2)
Rank[0:2]

['music videos', 'Baby Shark Dance']

In [14]:
n=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']")
for i in n:
    title=i.text
    Name.append(title)
Name[0:1]

['Top 30 most-viewed YouTube videos\nNo. Video name Uploader Views (billions) Upload date Note\n1. "Baby Shark Dance"[22] Pinkfong Kids\' Songs & Stories 8.44 June 17, 2016 [B]\n2. "Despacito"[24] Luis Fonsi 7.32 January 12, 2017 [C]\n3. "Shape of You"[25] Ed Sheeran 5.29 January 30, 2017 [D]\n4. "Johny Johny Yes Papa"[26] LooLoo Kids 5.24 October 8, 2016 [E]\n5. "See You Again"[27] Wiz Khalifa 5.08 April 6, 2015 [F]\n6. "Masha and the Bear – Recipe for Disaster"[30] Get Movies 4.43 January 31, 2012 [G]\n7. "Uptown Funk"[31] Mark Ronson 4.16 November 19, 2014 [H]\n8. "Gangnam Style"[32] Psy 4.05 July 15, 2012 [I]\n9. "Learning Colors – Colorful Eggs on a Farm"[34] Miroshka TV 3.97 February 27, 2018\n10. "Bath Song"[35] Cocomelon – Nursery Rhymes 3.95 May 2, 2018\n11. "Phonics Song with Two Words"[36] ChuChu TV 3.78 March 6, 2014\n12. "Sugar"[37] Maroon 5 3.45 January 14, 2015\n13. "Sorry"[38] Justin Bieber 3.43 October 22, 2015\n14. "Roar"[39] Katy Perry 3.34 September 5, 2013\n15. "Dame Tu Cosita"[40] El Chombo 3.28 April 5, 2018\n16. "Counting Stars"[41] OneRepublic 3.27 May 31, 2013\n17. "Thinking Out Loud"[42] Ed Sheeran 3.24 October 7, 2014\n18. "Dark Horse"[43] Katy Perry 3.05 February 20, 2014\n19. "Faded"[44] Alan Walker 3.05 December 3, 2015\n20. "Shake It Off"[45] Taylor Swift 3.05 August 18, 2014\n21. "Lean On"[46] Major Lazer Official 3.02 March 22, 2015\n22. "Bailando"[47] Enrique Iglesias 3.01 April 11, 2014\n23. "Girls Like You"[48] Maroon 5 3.01 May 31, 2018\n24. "Let Her Go"[49] Passenger 2.97 July 25, 2012\n25. "Mi Gente"[50] J Balvin 2.90 June 29, 2017\n26. "Wheels on the Bus"[51] Cocomelon – Nursery Rhymes 2.89 May 24, 2018\n27. "Hello"[52] Adele 2.83 October 22, 2015\n28. "Perfect"[53] Ed Sheeran 2.82 November 9, 2017\n29. "Waka Waka (This Time for Africa)"[54] Shakira 2.80 June 4, 2010\n30. "Axel F"[55] Crazy Frog 2.77 June 16, 2009\nAs of April 30, 2021']

In [17]:
wiki=pd.DataFrame({})
wiki['name']=Rank[0:4]
wiki['rank']=Name[0:4]

In [18]:
wiki

               name                                               rank
0      music videos  Top 30 most-viewed YouTube videos\nNo. Video n...
1  Baby Shark Dance  Progression of the most-viewed video on YouTub...
2  Baby Shark Dance  Top 30 most-viewed YouTube videos\nNo. Video n...
3  Baby Shark Dance  Progression of the most-viewed video on YouTub...

# 2. Scrape the details team India’s international fixtures from bcci.tv.

In [16]:
#lets first connect to the web driver
driver1=webdriver.Chrome(r"C://chromedriver.exe")
driver1.get('https://www.bcci.tv/')

url='https://www.bcci.tv/international/fixtures'

#lets open the webpage through web driver
driver1.get(url)

In [56]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Date1=[]
Month=[]
Time=[]

In [57]:
m=driver1.find_elements_by_xpath("//div[@class='fixture__teams']")
for i in m:
    title3=i.text
    Match_title.append(title3)
Match_title[0:2]

['INDIA\nv\nNEW ZEALAND', 'ENGLAND\nv\nINDIA']

In [58]:
s=driver1.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in s:
    title4=i.text
    Series.append(title4)
Series[0:4]

['Final', '1st Test', '2nd Test', '3rd Test']

In [59]:
p=driver1.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in p:
    title5=i.text
    Place.append(title5)
Place[0:4]

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds']

In [60]:
d=driver1.find_elements_by_xpath("//span[@class='fixture__day']")
for i in d:
    title6=i.text
    Date.append(title6)
Date[0:4]

['Friday', 'Wednesday', 'Thursday', 'Wednesday']

In [61]:
d1=driver1.find_elements_by_xpath("//span[@class='fixture__date']")
for i in d1:
    title61=i.text
    Date1.append(title61)
Date1[0:4]

['18', '04', '12', '25']

In [62]:
d11=driver1.find_elements_by_xpath("//span[@class='fixture__month']")
for i in d11:
    title611=i.text
    Month.append(title611)
Month[0:4]

['JUNE', 'AUGUST', 'AUGUST', 'AUGUST']

In [63]:
t=driver1.find_elements_by_xpath("//span[@class='fixture__time']")
for i in t:
    title7=i.text
    Time.append(title7)
Time[0:4]

['15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [66]:
bcci=pd.DataFrame({})
bcci['match']=Match_title[0:5]
bcci['series']=Series[0:5]
bcci['place']=Place[0:5]
bcci['day']=Date[0:5]
bcci['date']=Date1[0:5]
bcci['month']=Month[0:5]
bcci['time']=Time[0:5]

In [67]:
bcci

,match,series,place,day,date,month,time
0,INDIA\nv\nNEW ZEALAND,Final,"The Ageas Bowl, Southampton",Friday,18,JUNE,15:30 IST
1,ENGLAND\nv\nINDIA,1st Test,"Trent Bridge, Nottingham",Wednesday,04,AUGUST,15:30 IST
2,ENGLAND\nv\nINDIA,2nd Test,"Lord's, London",Thursday,12,AUGUST,15:30 IST
3,ENGLAND\nv\nINDIA,3rd Test,"Headingley, Leeds",Wednesday,25,AUGUST,15:30 IST
4,ENGLAND\nv\nINDIA,4th Test,"The Oval, London",Thursday,02,SEPTEMBER,15:30 IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [68]:
#lets first connect to the web driver
driver2=webdriver.Chrome(r"C://chromedriver.exe")
driver2.get('https://statisticstimes.com/index.php')

url='http://statisticstimes.com/economy/india/indian-states-gdp.php'

#lets open the webpage through web driver
driver2.get(url)

In [102]:
Rank=[]
State=[]
GSDP_18_19=[]
Share=[]
GDP_billion=[]

In [103]:
r=driver2.find_elements_by_xpath("//td[@class='data1']")
for i in r:
    title3=i.text
    Rank.append(title3)
Rank[0:2]

['1', '2']

In [104]:
s=driver2.find_elements_by_xpath("//td[@class='name']")
for i in s:
    title31=i.text
    State.append(title31)
State[0:2]

['Maharashtra', 'Tamil Nadu']

In [105]:
g=driver2.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in g:
    title1=i.text
    GSDP_18_19.append(title1)
GSDP_18_19[0:2]

['2,632,792', '1,630,208']

In [106]:
g1=driver2.find_elements_by_xpath("//td[@class='data']")
for i in g1:
    title11=i.text
    GSDP_17_18.append(title11)
GSDP_17_18[0:2]

['-', '13.88%']

In [108]:
g11=driver2.find_elements_by_xpath("//td[@class='data']")
for i in g11:
    title12=i.text
    Share.append(title12)
Share[0:4]

['-', '13.88%', '398.145', '-']

In [109]:
g12=driver2.find_elements_by_xpath("//tr[@class='odd']")
for i in g12:
    title22=i.text
    GDP_billion.append(title22)
GDP_billion[0:2]

['1 Maharashtra - 2,632,792 13.88% 398.145 - 2,039,074',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.35% 239.656 1,166,817 1,123,982']

In [100]:
gdp=pd.DataFrame({})
gdp['rank']=Rank[0:30]
gdp['state']=State[0:30]
gdp['gdp_18_19']=GSDP_18_19[0:30]
gdp['share']=Share[0:30]

In [101]:
gdp

   rank             state  gdp_18_19      share
0     1       Maharashtra  2,632,792          -
1     2        Tamil Nadu  1,630,208     13.88%
2     3     Uttar Pradesh  1,584,764    398.145
3     4           Gujarat  1,502,899          -
4     5         Karnataka  1,493,127  2,039,074
5     6       West Bengal  1,089,898  1,845,853
6     7         Rajasthan    942,586      8.59%
7     8    Andhra Pradesh    862,957    246.529
8     9         Telangana    861,031  1,312,929
9    10    Madhya Pradesh    809,592  1,215,307
10   11            Kerala    781,653  1,687,818
11   12             Delhi    774,870      8.35%
12   13           Haryana    734,163    239.656
13   14             Bihar    530,363  1,166,817
14   15            Punjab    526,376  1,123,982
15   16            Odisha    487,805          -
16   17             Assam    315,881      7.92%
17   18      Chhattisgarh    304,063    227.276
18   19         Jharkhand    297,204          -
19   20       Uttarakhand    245,895  1,186,379
20   21   Jammu & Kashmir    155,956  1,631,977
21   22  Himachal Pradesh    153,845      7.87%
22   23               Goa     73,170    225.798
23   24           Tripura     49,845  1,156,039
24   25        Chandigarh     42,114  1,091,077
25   26        Puducherry     34,433  1,253,832
26   27         Meghalaya     33,481      5.75%
27   28            Sikkim     28,723    164.820
28   29           Manipur     27,870    793,223
29   30          Nagaland     27,283    739,525

# 4. Scrape the details of selenium exception from guru99.com.

In [26]:
#lets first connect to the web driver
driver3=webdriver.Chrome(r"C://chromedriver.exe")
driver3.get('https://www.guru99.com/')

search_field_designation=driver3.find_element_by_id("gsc-w-id1")

search_field_designation.send_keys("Selenium Exception Handling")

search_button=driver3.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")
search_button.click()
                                   
url='https://www.guru99.com/exception-handling-selenium.html'

#lets open the webpage through web driver
driver3.get(url)

In [37]:
name=[]
description=[]

In [38]:
n=driver3.find_elements_by_xpath("//table[@class='table table-striped']")
for i in n:
    title12=i.text
    name.append(title12)
name[0:2]

["Exception name Description\nElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.\nElementNotSelectableException This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.\nNoSuchElementException This Exception occurs if an element could not be found.\nNoSuchFrameException This Exception occurs if the frame target to be switched to does not exist.\nNoAlertPresentException This Exception occurs when you switch to no presented alert.\nNoSuchWindowException This Exception occurs if the window target to be switch does not exist.\nStaleElementReferenceException This Selenium exception occurs happens when the web element is detached from the current DOM.\nSessionNotFoundException The WebDriver is acting after you quit the browser.\nTimeoutException Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.\nWebDriverException This Exception takes place when the WebDriver is acting right after you close the browser.\nConnectionClosedException This type of Exception takes place when there is a disconnection in the driver.\nElementClickInterceptedException The command may not be completed as the element receiving the events is concealing the element which was requested clicked.\nElementNotInteractableException This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.\nErrorInResponseException This happens while interacting with the Firefox extension or the remote driver server.\nErrorHandler.UnknownServerException Exception is used as a placeholder in case if the server returns an error without a stack trace.\nImeActivationFailedException This expectation will occur when IME engine activation has failed.\nImeNotAvailableException It takes place when IME support is unavailable.\nInsecureCertificateException Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.\nInvalidArgumentException It occurs when an argument does not belong to the expected type.\nInvalidCookieDomainException This happens when you try to add a cookie under a different domain instead of current URL.\nInvalidCoordinatesException This type of Exception matches an interacting operation that is not valid.\nInvalidElementStateExceptio It occurs when command can't be finished when the element is invalid.\nInvalidSessionIdException This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.\nInvalidSwitchToTargetException This occurs when the frame or window target to be switched does not exist.\nJavascriptException This issue occurs while executing JavaScript given by the user.\nJsonException It occurs when you afford to get the session when the session is not created.\nNoSuchAttributeException This kind of Exception occurs when the attribute of an element could not be found.\nMoveTargetOutOfBoundsException It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.\nNoSuchContextException ContextAware does mobile device testing.\nNoSuchCookieException This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.\nNotFoundException This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.\nRemoteDriverServerException This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.\nScreenshotException It is not possible to capture a screen.\nSessionNotCreatedException It happens when a new session could not be successfully created.\nUnableToSetCookieException This occurs if a driver is unable to set a cookie.\nUnexpectedTagNameException Happens if a support class did not get a web element as expected.\nUnhandledAlertException This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.\nUnexpectedAlertPresentException It occurs when there is the appearance of an unexpected alert.\nUnknownMethodException This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.\nUnreachableBrowserException This Exception occurs only when the browser is not able to be opened or crashed because of some reason.\nUnsupportedCommandException This occurs when remote WebDriver does n't send valid commands as expected."]

In [40]:
d=driver3.find_elements_by_xpath("//table[@class='table table-striped']")
for i in d:
    if i.text is None :
        description.remove("\n") 
    else:
        description.append(i.text)
description[0:2]

["Exception name Description\nElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.\nElementNotSelectableException This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.\nNoSuchElementException This Exception occurs if an element could not be found.\nNoSuchFrameException This Exception occurs if the frame target to be switched to does not exist.\nNoAlertPresentException This Exception occurs when you switch to no presented alert.\nNoSuchWindowException This Exception occurs if the window target to be switch does not exist.\nStaleElementReferenceException This Selenium exception occurs happens when the web element is detached from the current DOM.\nSessionNotFoundException The WebDriver is acting after you quit the browser.\nTimeoutException Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.\nWebDriverException This Exception takes place when the WebDriver is acting right after you close the browser.\nConnectionClosedException This type of Exception takes place when there is a disconnection in the driver.\nElementClickInterceptedException The command may not be completed as the element receiving the events is concealing the element which was requested clicked.\nElementNotInteractableException This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.\nErrorInResponseException This happens while interacting with the Firefox extension or the remote driver server.\nErrorHandler.UnknownServerException Exception is used as a placeholder in case if the server returns an error without a stack trace.\nImeActivationFailedException This expectation will occur when IME engine activation has failed.\nImeNotAvailableException It takes place when IME support is unavailable.\nInsecureCertificateException Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.\nInvalidArgumentException It occurs when an argument does not belong to the expected type.\nInvalidCookieDomainException This happens when you try to add a cookie under a different domain instead of current URL.\nInvalidCoordinatesException This type of Exception matches an interacting operation that is not valid.\nInvalidElementStateExceptio It occurs when command can't be finished when the element is invalid.\nInvalidSessionIdException This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.\nInvalidSwitchToTargetException This occurs when the frame or window target to be switched does not exist.\nJavascriptException This issue occurs while executing JavaScript given by the user.\nJsonException It occurs when you afford to get the session when the session is not created.\nNoSuchAttributeException This kind of Exception occurs when the attribute of an element could not be found.\nMoveTargetOutOfBoundsException It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.\nNoSuchContextException ContextAware does mobile device testing.\nNoSuchCookieException This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.\nNotFoundException This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.\nRemoteDriverServerException This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.\nScreenshotException It is not possible to capture a screen.\nSessionNotCreatedException It happens when a new session could not be successfully created.\nUnableToSetCookieException This occurs if a driver is unable to set a cookie.\nUnexpectedTagNameException Happens if a support class did not get a web element as expected.\nUnhandledAlertException This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.\nUnexpectedAlertPresentException It occurs when there is the appearance of an unexpected alert.\nUnknownMethodException This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.\nUnreachableBrowserException This Exception occurs only when the browser is not able to be opened or crashed because of some reason.\nUnsupportedCommandException This occurs when remote WebDriver does n't send valid commands as expected."]

In [41]:
sel=pd.DataFrame({})
sel['name']=name[0:10]
sel['desc']=description[0:10]

In [42]:
sel

,name,desc
0,Exception name Description\nElementNotVisibleE...,Exception name Description\nElementNotVisibleE...

# 5. Scrape the details of trending repositories on Github.com.

In [56]:
#lets first connect to the web driver
driver4=webdriver.Chrome(r"C://chromedriver.exe")
driver4.get('https://github.com/')

url='https://github.com/trending'

#lets open the webpage through web driver
driver4.get(url)

In [57]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [58]:
title=driver4.find_elements_by_xpath("//span[@class='text-normal']")
for i in title:
    title12=i.text
    Repository_title.append(title12)
Repository_title[0:2]

['TheAlgorithms /', 'scala-open-letter /']

In [59]:
desc=driver4.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    title1=i.text
    Repository_description.append(title1)
Repository_description[0:2]

['All Algorithms implemented in Python',
 '📝 Algorithms and data structures implemented in JavaScript with explanations and links to further readings']

In [60]:
count=driver4.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for i in count:
    title11=i.text
    Contributors_count.append(title11)
Contributors_count[0:2]

['104,807', '29,459']

In [62]:
lang=driver4.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    title21=i.text
    Language_used.append(title21)
Language_used[0:2]

['Python', 'Ruby']

In [65]:
git=pd.DataFrame({})
git['title']=Repository_title[0:15]
git['desc']=Repository_description[0:15]
git['count']=Contributors_count[0:15]
git['lang']=Language_used[0:15]

In [66]:
git

,title,desc,count,lang
0,TheAlgorithms /,All Algorithms implemented in Python,"104,807",Python
1,scala-open-letter /,📝 Algorithms and data structures implemented i...,"29,459",Ruby
2,trekhleb /,TLS/SSL and crypto library,26,JavaScript
3,openssl /,😏 LeetCode solutions in any programming langua...,258,C
4,doocs /,List of Computer Science courses with video le...,"105,198",Java
5,Developer-Y /,WinBox is a professional HTML5 window manager ...,"17,429",JavaScript
6,nextapps-de /,Standard Go Project Layout,"15,384",Makefile
7,golang-standards /,The universal proxy toolchain for Android.,"6,830",Kotlin
8,nekohasekai /,Automated Binance trading bot - Buy low/Sell h...,"3,145",JavaScript
9,chrisleekr /,Simple Ants simulator,827,C++
10,johnBuffer /,Unity Open Project #1: Chop Chop,"22,647",C#
11,UnityTechnologies /,🐉 Material Component Framework for Vue,"3,147",TypeScript
12,vuetifyjs /,Python - 100天从新手到大师,"1,365",Python
13,jackfrued /,Ansible is a radically simple IT automation pl...,26,Python
14,ansible /,🛁 Clean Code concepts adapted for JavaScript,"22,919",JavaScript

# 6 Scrape the details of top 100 songs on billiboard.com.

In [2]:
#lets first connect to the web driver
driver5=webdriver.Chrome(r"C://chromedriver.exe")
driver5.get('https://www.billboard.com/')

url='https://www.billboard.com/charts/hot-100'

#lets open the webpage through web driver
driver5.get(url)

In [3]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [5]:
title=driver5.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in title:
    title12=i.text
    Song_name.append(title12)
Song_name[0:2]

['Rapstar', 'Leave The Door Open']

In [7]:
art=driver5.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in art:
    title1=i.text
    Artist_name.append(title1)
Artist_name[0:2]

['Polo G', 'Silk Sonic (Bruno Mars & Anderson .Paak)']

In [8]:
rank=driver5.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in rank:
    title2=i.text
    Last_week_rank.append(title2)
Last_week_rank[0:2]

['1', '3']

In [9]:
peak=driver5.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    title21=i.text
    Peak_rank.append(title21)
Peak_rank[0:2]

['1', '1']

In [10]:
board=driver5.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in board:
    title3=i.text
    Weeks_on_board.append(title3)
Weeks_on_board[0:2]

['2', '7']

In [11]:
songs=pd.DataFrame({})
songs['song_name']=Song_name[0:100]
songs['artist']=Artist_name[0:100]
songs['weeek_rank']=Last_week_rank[0:100]
songs['peak_rank']=Peak_rank[0:100]
songs['board_week']=Weeks_on_board[0:100]

In [12]:
songs

,song_name,artist,weeek_rank,peak_rank,board_week
0,Rapstar,Polo G,1,1,2
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,7
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,5
3,Montero (Call Me By Your Name),Lil Nas X,2,1,4
4,Levitating,Dua Lipa Featuring DaBaby,6,5,29
...,...,...,...,...,...
95,Go!,Moneybagg Yo Featuring BIG30,-,96,1
96,Drankin N Smokin,Future & Lil Uzi Vert,-,31,12
97,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,17
98,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,1
99,4 Da Gang,42 Dugg & Roddy Ricch,84,67,3

# 7. Scrape the details of Data science recruiters from naukri.com.

In [20]:
#lets first connect to the web driver
driver6=webdriver.Chrome(r"C://chromedriver.exe")
driver6.get('https://www.naukri.com/')

url='https://www.naukri.com/data-science-recruiters'

search_field_designation=driver6.find_element_by_id("root")
search_field_location=driver6.find_element_by_id("skill")
search_field_designation.send_keys("Recruiters")
search_field_location.send_keys("Data Science")

#lets open the webpage through web driver
driver6.get(url)

In [17]:
search_button=driver6.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [21]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]

In [23]:
n=driver6.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in n:
    title21=i.text
    Name.append(title21)
Name[0:2]

['Aakash Harit', 'shravan Kumar Gaddam']

In [24]:
d=driver6.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in d:
    title2=i.text
    Designation.append(title2)
Designation[0:2]

['HR Manager', 'Company Recruiter']

In [36]:
c=driver6.find_elements_by_xpath("//p[@class='highlightable']/a")
for i in c:
    title1=i.text
    Company.append(title1)
Company[0:2]

['Aakash Harit', 'Data Science Network']

In [33]:
s=driver6.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in s:
    title11=i.text
    Skills_they_hire.append(title11)
Skills_they_hire[0:2]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software']

In [34]:
l=driver6.find_elements_by_xpath("//small[@class='ellipsis']")
for i in l:
    title4=i.text
    Location.append(title4)
Location[0:2]

['Delhi', 'Hyderabad / Secunderabad']

In [38]:
job=pd.DataFrame({})
job['name']=Name[0:10]
job['desig']=Designation[0:10]
job['comp']=Company[0:10]
job['skill']=Skills_they_hire[0:10]
job['loca']=Location[0:10]

In [39]:
job

,name,desig,comp,skill,loca
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,shravan Kumar Gaddam,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,Talent Acquisition Executive,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,XenonStack,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Anik Agrawal,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,Enerlytics Software Solutions Pvt Ltd,Data Science,Chennai
8,Balu Ramesh,HR Administrator,MARSIAN Technologies LLP,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,MARSIAN Technologies LLP,"Technical Training, Software Development, Pres...",Indore

# 8. Scrape the details of Highest selling novels.

In [40]:
#lets first connect to the web driver
driver7=webdriver.Chrome(r"C://chromedriver.exe")
driver7.get('https://www.theguardian.com/')

url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

#lets open the webpage through web driver
driver7.get(url)

In [50]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [55]:
b=driver7.find_elements_by_xpath("//td[@class='left']")
for i in b:
    title4=i.text
    Book_name.append(title4)
Book_name[0:100]

['Da Vinci Code,The',
 'Da Vinci Code,The',
 '1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark']

# 9. Scrape the details most watched tv series of all time from imdb.com.

In [97]:
#lets first connect to the web driver
driver8=webdriver.Chrome(r"C://chromedriver.exe")
driver8.get('https://www.imdb.com/')

url='https://www.imdb.com/search/keyword/?keywords=tv-series&ref_=fn_al_kw_1'

#lets open the webpage through web driver
driver8.get(url)

In [98]:
Name=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [99]:
l=driver8.find_elements_by_xpath("//h3[@class='lister-item-header']")
for i in l:
    title4=i.text
    Name.append(title4)
Name[0:2]

['1. The Yard (2018– )', '2. Heirs of the Night (2019– )']

In [100]:
g=driver8.find_elements_by_xpath("//span[@class='runtime']")
for i in g:
    title11=i.text
    Run_time.append(title11)
Run_time[0:2]

['120 min', '25 min']

In [101]:
g=driver8.find_elements_by_xpath("//span[@class='genre']")
for i in g:
    title2=i.text
    Genre.append(title2)
Genre[0:2]

['Crime, Drama', 'Fantasy, Horror']

In [102]:
a=driver8.find_elements_by_xpath("//span[@class='certificate']")
for i in a:
    title21=i.text
    Votes.append(title21)
Votes[0:2]

['18', 'TV-14']

In [103]:
b=driver8.find_elements_by_xpath("//div[@class='inline-block ratings-imdb-rating']")
for i in b:
    title3=i.text
    Ratings.append(title3)
Ratings[0:2]

['7.2', '7.0']

In [104]:
tv=pd.DataFrame({})
tv['name']=Name[0:10]
tv['genre']=Genre[0:10]
tv['time']=Run_time[0:10]
tv['vote']=Votes[0:10]
tv['rating']=Ratings[0:10]

In [105]:
tv

,name,genre,time,vote,rating
0,1. The Yard (2018– ),"Crime, Drama",120 min,18,7.2
1,2. Heirs of the Night (2019– ),"Fantasy, Horror",25 min,TV-14,7.0
2,3. Year of the Rabbit (2019– ),"Comedy, Crime, Mystery",30 min,TV-MA,7.4
3,4. Bozkir (2018–2022),"Crime, Drama, Mystery",50 min,Not Rated,8.1
4,5. Aynen Aynen (2019– ),"Short, Comedy",8 min,TV-MA,7.6
5,6. Twenties (2020– ),Comedy,21 min,TV-14,6.1
6,7. Powerless (2017),"Comedy, Fantasy, Sci-Fi",55 min,TV-14,6.4
7,8. La Unidad (2020– ),"Action, Drama, Thriller",25 min,TV-MA,7.3
8,9. Osmosis (2019),"Romance, Sci-Fi",25 min,TV-14,5.9
9,10. Skam España (2018–2020),"Drama, Romance",60 min,TV-G,7.5

# 10. Details of Datasets from UCI machine learning repositories.

In [2]:
#lets first connect to the web driver
driver9=webdriver.Chrome(r"C://chromedriver.exe")
driver9.get('https://archive.ics.uci.edu/ml/index.php')

url='https://archive.ics.uci.edu/ml/datasets.php'

#lets open the webpage through web driver
driver9.get(url)

In [17]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [18]:
b=driver9.find_elements_by_xpath("//p[@class='normal']/a[1]")
for i in b:
    title3=i.text
    Dataset_name.append(title3)
Dataset_name[0:2]

['Classification', 'Categorical']

In [19]:
c=driver9.find_elements_by_xpath("//p[@class='normal']/a[2]")
for i in c:
    title31=i.text
    Data_type.append(title31)
Data_type[0:4]

['Regression', 'Numerical', 'Univariate', 'Physical Sciences']

In [20]:
c1=driver9.find_elements_by_xpath("//p[@class='normal']/a[3]")
for i in c1:
    title1=i.text
    Task.append(title1)
Task[0:4]

['Clustering', 'Mixed', 'Sequential', 'CS / Engineering']

In [21]:
n=driver9.find_elements_by_xpath("//p[@class='normal']/a[4]")
for i in n:
    title11=i.text
    Attribute_type.append(title11)
Attribute_type[0:4]

['Other', 'Time-Series', 'Social Sciences']

In [22]:
v=driver9.find_elements_by_xpath("//p[@class='normal']/a[5]")
for i in v:
    title7=i.text
    No_of_instances.append(title7)
No_of_instances[0:4]

['Text', 'Business']

In [24]:
ml=pd.DataFrame({})
ml['name']=Dataset_name[0:2]
ml['type']=Data_type[0:2]
ml['task']= Task[0:2]
ml['attri']=Attribute_type[0:2]
ml['inst']=No_of_instances[0:2]

In [25]:
ml

             name        type        task        attri      inst
0  Classification  Regression  Clustering        Other      Text
1     Categorical   Numerical       Mixed  Time-Series  Business